@media (prefers-color-scheme: light) {
  body {
      background-color: #e2e8f0;
      color: #1a202c;
  }
}

@media (prefers-color-scheme: dark) {
  body {
      background-color: #1a202c;
      color: #e2e8f0;
  }
}

body {
  font-family: 'Raleway','SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
  padding: 20px 20px 20px;
  max-width: 900px;
  margin: 0 auto;
}

h1 {
    font-family: 'Quattrocento', Georgia, 'Times New Roman', Times, serif;
    font-size: 3em;
}

h3 {
    font-size: 2em;
    font-weight: bold;
}

p {
    font-size: 20px;
    line-height: 2em;
}

p span {
    font-size: 28px;
}

