@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for the portfolio landing */
@media (prefers-color-scheme: light) {
  body {
      background-color: #DDDAD3;
      color: #161910;
  }
}

@media (prefers-color-scheme: dark) {
  body {
      background-color: #161910;
      color: #DDDAD3;
  }
}

body {
  font-family: 'Raleway','SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
  padding: 20px 20px 20px;
  max-width: 38em;
  margin: 0 auto;
}

h1 {
    font-family: 'Quattrocento', Georgia, 'Times New Roman', Times, serif;
    font-size: 3em;
    margin-top: 1rem;
    margin-bottom: 0;
}

h3 {
    font-size: 2em;
    font-weight: bold;
}

p {
    font-size: 16px;
    line-height: 2em;
    margin-top: 0px;
    margin-bottom: 8px;
}

.subtitle {
  font-size: 16px;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: underline; /* no underline */
}

a span:hover {
  font-weight: bold;
  background-color: #76574C;
  color: white;
}
